<div class="row">
<aside class="col-lg-2 py-3 aside-menu">
  <nav>
    <a routerLink="/" class="p-3 m-1 mb-5 brand-mark">Inc Corp.</a>
    <ul>
      <li><a class="p-3 d-flex" routerLink="/pessoas/cadastradas"><i class="fa-solid fa-person"></i><span>Pessoas</span></a></li>
        <li><a class="p-3 d-flex" routerLink="/pessoas/cadastro"><i class="fa-solid fa-computer"></i><span>Cadastrar Pessoas</span></a></li>
      <li><a class="p-3 d-flex" routerLink="/departamento/cadastrados"><i class="fa-solid fa-coffee"></i><span>Departamentos</span></a>
        <li><a class="p-3 d-flex" routerLink="/departamento/cadastro"><i class="fa-solid fa-computer"></i><span>Cadastrar Departamento</span></a></li>
    </ul>
  </nav>
</aside>
<div class="col-lg-10">
  <router-outlet></router-outlet>
</div>
</div>
